<h1>Latest Blog Posts</h1>

<% @post.each do |post| %>
    <div class="card mt-4">
        <div class="card-header text-white bg-info">
            <h4> <%= post.title %> </h4>
        </div>

        <div class="card-body">
            <p>
                <%= post.body %>
            </p>

            <div class="">
                <%= link_to 'Read More', post_path(post), { :class=>"btn btn-info" }%>
            </div>
        </div>
    </div>
<% end %>
